.app-dashboard.shrink-medium
  .row.expanded.app-dashboard-top-nav-bar
    .columns.medium-12
      %button.menu-icon.hide-for-medium{"data-toggle" => "app-dashboard-sidebar"}
      %a.app-dashboard-logo{href: dashboard_path}= t('app_name')
  .app-dashboard-body.off-canvas-wrapper
    #app-dashboard-sidebar.app-dashboard-sidebar.position-left.off-canvas.off-canvas-absolute.reveal-for-medium{"data-off-canvas" => ""}
      .app-dashboard-sidebar-title-area
        .app-dashboard-close-sidebar
          .span
          %button#close-sidebar.app-dashboard-sidebar-close-button.show-for-medium{"aria-label" => "Close menu", "data-app-dashboard-toggle-shrink" => "", :type => "button"}
            %span{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.large.fa.fa-angle-double-left
        .app-dashboard-open-sidebar
          %button#open-sidebar.app-dashboard-open-sidebar-button.show-for-medium{"aria-label" => "open menu", "data-app-dashboard-toggle-shrink" => "", :type => "button"}
            %span{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.large.fa.fa-angle-double-right
      .app-dashboard-sidebar-inner
        %ul.menu.vertical
          %li
            %a.is-active{:href => "#"}
              %i.large.fa.fa-hourglass-half
              %span.app-dashboard-sidebar-text Timer
          %li
            %a
              %i.large.fa.fa-folder-open
              %span.app-dashboard-sidebar-text Projects
        .app-dashboard-sidebar-footer
          .columns.app-dashboard-top-bar-actions
            %button.button.hollow{:href => "#"} Logout
    .app-dashboard-body-content.off-canvas-content{"data-off-canvas-content" => ""}
      %h2.text-center Lorem Ipsum
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit ligula eget est feugiat viverra. Duis a arcu laoreet, rhoncus libero imperdiet, placerat velit. Vestibulum euismod mi et ornare sodales. Donec efficitur mattis blandit. Proin in massa elit. Praesent malesuada iaculis nisl, a venenatis dui. Nullam venenatis tincidunt placerat. Suspendisse egestas urna a aliquet pretium.
      %p Nullam hendrerit tincidunt risus. Sed nec nibh vel nibh euismod lobortis sed a sem. Nulla nec libero dolor. Pellentesque non sodales orci. Phasellus odio ligula, varius non orci ac, fermentum pulvinar nibh. Aliquam erat volutpat. Curabitur vehicula varius porttitor. Integer purus sapien, placerat sodales eros et, interdum vestibulum sem. Duis faucibus felis vitae augue ultricies, aliquet tempor orci vestibulum. Duis eu justo mi. Praesent feugiat, ante interdum fringilla auctor, ex nibh aliquet neque, sed feugiat tellus tortor non dui. Suspendisse potenti. Aliquam fringilla sapien felis, at faucibus justo interdum congue.