%div.row
  %h2 Welcome
%div.row
  - if current_user.present?
    %h3= I18n.t('response.welcome', name: current_user.name, surname: current_user.surname)
    = button_to t('sing_out'), logout_path, method: :delete
  - else
    %div.callout-clearfix{style: 'width: 200px'}
      = button_to t('login.login'),  login_path,class: 'button float-left', method: :get
      = button_to t('sign_up'), new_user_path, class: 'button float-right', method: :get

