.timelog-header
  .span
  .timelog-header-right
    .input-group.input-group-rounded
      %input.input-group-field{:type => "search", placeholder: 'Denemeeeeeddedeed'}/
      .input-group-button
        = button_tag(type: 'submit', class: 'button') do
          %i.fa.fa-play-circle

-#  .timelog-header-right
-#    %ul.menu.simple
-#      %li
-#        %a{:href => "https://www.facebook.com/"}
-#          %i.fa.fa-facebook{"aria-hidden" => "true"}
-#      %li
-#        %a{:href => "https://www.instagram.com/?hl=en"}
-#          %i.fa.fa-instagram{"aria-hidden" => "true"}

:scss
  .app-dashboard-body-content { padding: 0px !important;}