@import "settings";

.timelog-header {
  padding: 1rem;
  background: darken($medium-gray, 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .timelog-header-right {
    li:last-of-type {
      margin-right: 0;
    }

    #counter {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: right;
      height: auto;
      font-size: 1.2rem;
      font-weight: bold;
      border: none;
      background-color: transparent;
      width: 85px;
    }

    .input-group-button .fa {
      font-size: 1.8rem;
      color: $white;

      &:hover {
        color: darken($dark-gray, 5%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

.input-group-rounded {
  position: relative;

  .input-group-field {
    border-radius: 5000px 0 0 5000px !important;
    padding-left: 1rem !important;
    padding-right: 5rem !important;
    text-indent: 5px;
  }

  .input-group-field .input-icon {
    position: absolute;
    left: 7px;
    top: calc(50% - 0.5em);
    color: black;
    font-size: 1rem;
    float: right;
  }

  .input-group-button .button {
    border-radius:  0 5000px 5000px 0 !important;
    font-size: 1.2rem;
    background-color: #2c3840;
  }
}

