@import "settings";

.timelog-header {
  padding: 1rem;
  background: $dark-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .timelog-header-right {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.3rem;
      color: $white;

      &:hover {
        color: darken($dark-gray, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

.input-group-rounded {
  .input-group-field {
    border-radius: 5000px 0 0 5000px !important;
    padding-left: 1rem !important;
    padding-right: 5rem !important;
  }

  .input-group-button .button {
    border-radius:  0 5000px 5000px 0 !important;
    font-size: 1.2rem;
    background-color: #2c3840;
  }
}

